html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-style: normal;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3rem;
}
h3 {
  color: #000;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.55rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.75rem;
}

h6 {
  color: #000;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
}

p,
a,
.normal {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.bold {
  font-weight: bold;
}

.small {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: var(--text-secondary, #6c757d);
}

.circle {
  width: 5px;
  height: 5px;
  background-color: var(--text-secondary, #6c757d);
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 5px;
}

.error {
  color: red;
  padding: 5px;
}

button {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-transform: none !important;
}

.btn-login {
  font-style: normal;
}

header {
  height: 3.5rem;
  background-color: #f8f9fa;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
  z-index: 100;
}

.main-container {
  margin-top: 6.5rem;
  width: 72rem;
}

nav {
  width: 72rem;
  display: flex;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  gap: 2.5rem;
  height: 3.5rem;
  flex-shrink: 0;
  color: #fff;
  position: fixed;
  align-items: center;
  .logo {
    height: 2.75rem;
  }

  .links {
    display: flex;
    justify-content: flex-start;
    gap: 2.5rem;
    li {
      margin: 0 10px;
      cursor: pointer;
      text-transform: capitalize;
      list-style: none;
      color: #6c757d;
    }
  }
  .admin-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 2.5rem;
    li {
      cursor: pointer;
      list-style: none;
      color: #6c757d;
    }
  }
}

.admin-menu ul {
  display: flex;
  gap: 2.5rem;
}

.avatar {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  border-radius: 2rem;
}

.form-group {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.page-header {
  margin: 7.5rem 0 3rem 0;
}

/* MUI Datagrid */
.MuiDataGrid-columnHeaderTitle {
  font-size: 1rem;
  font-style: normal;
  font-weight: bold !important;
  line-height: 1.5rem;
}
