.comments-container {
  display: flex;
  width: 47.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.add-comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10;
  width: 100%;
}

.comment-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.5rem;
  .comment-content {
    display: flex;
  }
  .comment-heading {
    display: flex;
    align-items: center;
    .comment-created {
      margin-left: 1.5rem;
    }
  }
}

.comment-vote {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 0.5rem;
  .vote-arrow {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }
}

.avatar {
  margin-right: 20px;
}
